body {
    text-align: center;
}

h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}

.grid-select-item {
    display: inline;
}

@media screen and (max-width: 500px) {
    tr {
        height: 20px;
    }

    td {
        width: 20px;
    }
    h1 {
        font-size: 50px;
        margin: 0.2em;
    }
    .grid-select-item {
        display: block;
    }
}

@media screen and (max-width: 300px) {
    tr {
        height: 15px;
    }

    td {
        width: 15px;
    }

    .grid-select-item {
        display: block;
    }

    h1 {
        font-size: 40px;
        margin: 0.2em;
    }
}
